.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
}

h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.text-tz-wrapper {
    font-size: 20px;
}

table {
    width: 100%;
    align-content: center;
    text-align: center;
}

.el a {
    color: coral;
}

tr, td, th {
    align-content: center;
    text-align: center;
}

.empty-list {
    visibility: hidden;
}

.list {
    visibility: hidden;
}

body {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto, arial, sans-serif;
}

.container {
    padding: 25px;
    position: static;
    align-content: center;
}

.form-register {
    width: 37%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

body {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto, arial, sans-serif;
}

.container {
    padding: 25px;
    position: static;
    align-content: center;
}

.form-report {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
}

.form-control {
    border-radius: 10px;
}

.report-wrapper {
    text-align: center;
}

.rep a {
    color: red;
}

.check-form {
    text-align: center;
}

.check-form textarea {
    width: 40%;
}

.view-wrap {
    text-align: left;
}

.view-wrap span {
    font-size: 21px;
    text-align: left;
}


.edit-wrap {
    font-size: 21px;
    text-align: center;
}

.req-add-form textarea {
    width: 40%;
}